.app {
  background-color: #1e1e20;
  min-height: 100vh;
  color: white;
}

.pr-card.card {
  background-color: #26262a;
  border-color: rgba(223, 223, 255, 0.18);
}

.card-title {
  border-bottom: 1px solid rgba(223, 223, 255, 0.18);
}

.card-title, .card-body {
  color: white;
}

.pr-row {
  border-top: 1px solid rgba(223, 223, 255, 0.18);
}

label.form-check-label {
    font-size: 0.875em;
}
